.container {
  padding: 20px;
  background-color: rgb(74, 58, 120);
  box-shadow: 0 0 10px #799be6 inset, 0 0 10px 4px #799be6;
}

.input {
  padding: 10px;
  margin-right: 10px;
}
.button {
  padding: 10px;
  cursor: pointer;
  background: #799be6;
  color: white;
  transition: 0.5s ease;
  border-radius: 10px;
}

.button:hover {
  background: transparent;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px #799be6 inset, 0 0 10px 4px #799be6;
  border-radius: 10px;
}
